[*.cs]

dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1061.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1507.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1816.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1824.severity = none
dotnet_diagnostic.CA1825.severity = none
dotnet_diagnostic.CA1827.severity = none
dotnet_diagnostic.CA1829.severity = none
dotnet_diagnostic.CA1847.severity = none
dotnet_diagnostic.CA2101.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2231.severity = none
dotnet_diagnostic.CA2241.severity = none
dotnet_diagnostic.CA5394.severity = none

dotnet_diagnostic.CS0067.severity = none
dotnet_diagnostic.CS0105.severity = none
dotnet_diagnostic.CS0108.severity = none
dotnet_diagnostic.CS0114.severity = none
dotnet_diagnostic.CS0168.severity = none
dotnet_diagnostic.CS0169.severity = none
dotnet_diagnostic.CS0219.severity = none
dotnet_diagnostic.CS0414.severity = none
dotnet_diagnostic.CS0419.severity = none
dotnet_diagnostic.CS0618.severity = none
dotnet_diagnostic.CS0649.severity = none
dotnet_diagnostic.CS0660.severity = none
dotnet_diagnostic.CS0661.severity = none
dotnet_diagnostic.CS0693.severity = none
dotnet_diagnostic.CS1570.severity = none
dotnet_diagnostic.CS1571.severity = none
dotnet_diagnostic.CS1572.severity = none
dotnet_diagnostic.CS1573.severity = none
dotnet_diagnostic.CS1574.severity = none
dotnet_diagnostic.CS1580.severity = none
dotnet_diagnostic.CS1587.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CS1711.severity = none

dotnet_diagnostic.IDE0016.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0018.severity = none
dotnet_diagnostic.IDE0019.severity = none
dotnet_diagnostic.IDE0020.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0030.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0038.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0041.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0056.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0070.severity = none
dotnet_diagnostic.IDE0074.severity = none
dotnet_diagnostic.IDE0075.severity = none
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0083.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0180.severity = none
dotnet_diagnostic.IDE0220.severity = none
dotnet_diagnostic.IDE0250.severity = none
dotnet_diagnostic.IDE0251.severity = none
dotnet_diagnostic.IDE0260.severity = none
dotnet_diagnostic.IDE0270.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0301.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE1005.severity = none
dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.SYSLIB1045.severity = none
